@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button class="btn btn-primary" onclick="location.href = '@Url.Action("Create", "Movies")'">Create New</button>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <button class = "btn btn-warning" onclick="location.href = '@Url.Action("Edit", "Movies")?id=@item.Id'">Edit</button> |
                <button class="btn btn-info" onclick="location.href = '@Url.Action("Details", "Movies")?id=@item.Id'">Details</button> |
                <button class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", "Movies")?id=@item.Id'">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
